* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

body {
    background: #eee;
}

#container {
    width: 600px;
    margin: 10px auto;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 3px;
    min-height: 300px;
    box-shadow: 0px 0px 4px #888;
}

#new-todo {
    padding: 10px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.todo-item {
    border-top: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}

#done .todo-item {
    background: #eee;
    color: #888;
    text-decoration: line-through;
}
