* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

body {
    background: #eee;
}

ul, li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#container {
    width: 600px;
    margin: 10px auto;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 3px;
    min-height: 300px;
    box-shadow: 0px 0px 4px #888;
}

#new-todo {
    padding: 10px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.todo-item {
    border-top: 1px solid #ddd;
    margin: 0px;
    padding: 10px;
    cursor: pointer;
}
.todo-item:hover {
    background: #0df;
}

.todo-item.completed,
.todo-item.completed:hover {
    background: #eee;
    color: #888;
    text-decoration: line-through;
}

#menu {
    box-sizing: border-box;
    width: 120px;
    height: auto;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 3px;
    box-shadow: 0px 0px 3px #aaa;
    background-color: #fff;
    display: none;
    position: absolute;
    z-index: 10;
}

#menu ul li a {
    margin: 0px;
    padding: 3px 10px;
    border-radius: 5px;
    display: block;
}
#menu ul li a:hover {
    background-color: #ddd;
    cursor: pointer;
}
