body {
    background: #eee;
}

#container {
    width: 600px;
    margin: 10px auto;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 10px;
    min-height: 300px;
    box-shadow: 0px 0px 10px #333;
}

.todo-item {
    border-top: 1px solid #ddd;
    padding: 10px;
}

.todo-item.done {
    background: #eee;
    color: #888;
}

.todo-item.done label {
    text-decoration: line-through;
}

